<!DOCTYPE html>
<html>
<head>
	<title><%= data.page_title %></title>
	<link rel="stylesheet" type="text/css" href="/css/404.css">
</head>
<body>
	<div class="text-wrapper">
    <div class="title" data-content="404">
        <%= data.status %>
    </div>

    <div class="subtitle">
        Oops, the <%= data.type %> you're looking for doesn't exist.
    </div>
</div>
</body>
</html>